html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


header
{
  width: 100%;
  background-color: black;
  color: white;
  height: auto;
  padding: 20px 20px 20px;
}

header img
{
  float: left;
}


.filterNav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

}

.filterNav li {
    float: left;
}

.filterNav li a {
    display: block;
    padding: 8px;
    background-color: black;
    color: white;
    text-decoration: none;
}

html
{
  font-family: 'Oswald', sans-serif;
}

body
{
  background-color: #fbfbfb;
}

footer
{
  height: 100px;
  background-color: black;
  color: white;
  clear: both;
}

.admin_header
{
  text-align: center;
  background-color: black;
  color: white;
  padding-bottom: 20px;
  height: 80px;
}

.admin_header img
{
  display: block;
  margin: 0 auto;
}

.logo
{
  padding-top: 20px;
  width: 100px;
  margin: 0 auto;

}


.admin_nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
}

.admin_nav li a {
    padding: 15px;
    display: block;
    background-color: rgba(0,0,0,0.8);
    color: white;
    text-decoration: none;
    border-bottom: 1px solid white;
}

.delete
{
  text-decoration: none;
  float: left;
  margin-left: 40px;
  margin-top: 40px;
}

.welcome_message
{
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;

}



.user_info {
  width: 95%;
  margin-left: 10px;
  border: 1px solid #00bff3;
  border-radius: 4px;
  padding: 10px;
}

form{
  /* background-color: #00bff3; */
  border-radius: 10px;
  width: 50%;
  margin-left: 20px;
  padding-top: 10px;
  margin: 0 auto;
  background-color: rgba(0,0,0,0.1);
  padding-bottom: 20px;
}

label {
  margin-top: 3px;
  margin-bottom: 10px;
  margin-left: 10px;
  font-weight: bold;
  float: left;
}

input[value] {
  color: #00536a;
}

#edit_user_title
{
  margin-bottom: 20px;
  margin-top: 20px;
  color: black;
  text-align: center;
  font-weight: bold;
  font-size: 1.8em;
}


.profile_image
{
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 20px;
}


input[type=submit] {
    padding:10px 15px;
    background:#00bff3;
    color: white;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    width: 95%;
    margin: 0 auto;
    display: block;
}

input[type=submit]:hover {
    padding:10px 15px;
    background: #00536a;

}


.edit_icon
{
  margin-left: 15px;
  float: left;
  padding-bottom: 5px;
}


.movie_text
{
  text-align: center;
  font-size: 2em;
}

a
{
  text-decoration: none;
}

.movie_year
{
  margin-top: 10px;
  text-align: center;
  text-decoration: none;
}

.movie_container
{
  float: left;
  width: 250px;
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 10px;
  margin-left: 20px;
  height: 500px;
  margin-bottom: 100px;
  margin-top: 100px;
}

video
{
	display: block;
	margin: 0 auto;
}

.movie_image
{
  width: 100%;
  border-radius: 10px;
}
.back
{
	clear: both;
	font-size: 2.5em;

}


.details_img
{
	width: 600px;
	float: right;
}

.detials_txt
{
	text-align: center;
	font-size: 2em;
	margin-bottom: 40px;
}
